{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta</title>

    <!--Modo de relacionar o html com o css para estilizar-->

    <link rel="stylesheet" href="{% static 'styles/cadastro.css'%}">

</head>
<body>
    <div class="container">
        <!--criei divisioes para cada campo para ter mais liberdade de estilizar-->
        <div class="titulo">
            <h1>Cadastro</h1>
        </div>
        <div class="formulario">
            <form method="post">
                {% csrf_token %}
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Pedro Camargo" required>        
                
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="pedro@exemplo.com" required>
                
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Mínimo 8 caracteres" required>
                <label for="confSenha">Confirmar Senha</label>
                <input type="password" id="confSenha" name="confSenha" placeholder="Repita a senha" required>
                
                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" name="telefone" placeholder="(11) 99999-9999" required>
                
                <div class="botao_cadastrar">
                    <button type="submit">Criar conta</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>