<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--parametros de uso-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!--formulario de login-->
    <h1>Login</h1>
    <form method="post">

        {% csrf_token %}
        <!--caixa de email-->
        <label for="email">E-mail:</label>
        <input 
        type="email"
        id="email"
        name="email"
        placeholder="Digite seu email..."
        >

        <!--quebra de linha, por enquanto vai ter depois quando implementarmos o css iremos retirar-->
        <br><br>
        
        <!--caixa de senha-->
        <label for="senha">Senha:</label>
        <input 
        type="password"
        id="senha"
        name="senha"
        placeholder="Digite sua senha..."
        >

        <br><br>
        <!--botão de submit para enviar-->
        <button type="submit">Entrar</button>
    </form>
    

</body>
</html>